/* public/css/admin.css */
:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: #F999999;
    /* make the base font size smaller */
    --font-size-base: 18px;
    /* remove all border radius to make corners straight */
    --border-radius: 10px;

}
.btn-outline-primary:hover{

}
.btn {

    font-size: large;
}
.btn:hover{

}

.btn:hover{
    color: #ffffff;
}

hr{
    border: 0;
    border-top: 1px
    solid #9f1239;
    padding-bottom: 2px;
    padding-top: 2px;
}
.header-index{



}