/* public/css/admin.css */
:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: #F999999;
    /* make the base font size smaller */
    --font-size-base: 18px;
    /* remove all border radius to make corners straight */
    --border-radius: 10px;
    /* dynamic height of sticky header set via JS; fallback 0 */
    --header-index-height: 0px;
    --responsive-header-bg: #FFFFFF
}
.ck-editor__editable {
    min-height: 500px;
}
.header-index {
    position: sticky;
    top: 0;
    z-index: 200; /* above content but below modals/navbar if any */
    background: var(--responsive-header-bg);
    /*background: #ffffff; /* ensure content doesn’t show through */
}
.content-header {
    position: sticky;
    top: 0;
    z-index: 20; /* above content but below modals/navbar if any */
    background: var(--responsive-header-bg);
    /*background: #ffffff;*/

}

/* Optional: ensure the header content stays readable when sticky */
.header-index .row {
    align-items: center;
}

/* If the table appears under the sticky header when jumping anchors, keep some spacing */
.table.datagrid {
    scroll-margin-top: var(--header-index-height, 0px); /* align anchor jumps below sticky header */
}
.datagrid thead th {
    position: sticky;
    top: var(--header-index-height, 0px);
    z-index: 20;
    background: var(--responsive-header-bg);
    /*ackground: #ffffff; /* keep header readable when sticky */
}

.photolist:hover {
    transform: scale(1.2);

}
.header-photos{
    position: sticky;
    padding-top: 20px;
    padding-bottom:20px;


}


.scroll-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #B21B16;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}

.scroll-btn:hover {
    background: #000000;
    color: white;

}

#scroll-top-btn {
    bottom: 500px;
    right: 20px;
}

#scroll-bottom-btn {
    bottom: 400px;
    right: 20px;

}

@media only screen and (max-height: 500px) {
    #scroll-top-btn {
        bottom: 250px;
        right: 20px;
    }

    #scroll-bottom-btn {
        bottom: 150px;
        right: 20px;
    }

}

@media only screen and (max-width: 500px) {
    body{
        font-size: 2rem;
    }
    .btn {

        font-size: 2rem;
    }


}
@media only screen and (max-width: 950px) {
    body{
        font-size: 1.5rem;
    }
    .btn {

        font-size: 1.5rem;
    }

}