{% extends '@!EasyAdmin/layout.html.twig' %}
   {% block head_favicon %}
       <link rel="shortcut icon" href="{{ asset('images/admicon.ico') }}">
   {% endblock %}
{% block page_title %} Admin {% endblock %}
{% block main %}
    <div class="rougeodpf"><h1>Administration du site</h1></div>
    <hr>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_odpfadmin_odpfdocumentsbrowser',{'page':1}) }}" type="button" class="btn btn-primary"
        >Voir
            les
            médias</a>
        <hr>
    {% endif %}
    {% set urlphotos = ea_url()
        .setDashboard('App\\Controller\\OdpfAdmin\\OdpfDashboardController')
        .setController('App\\Controller\\OdpfAdmin\\OdpfPhotosCrudController')
        .setAction('index') %}
    <a href="{{ urlphotos }}" type="button" class="btn btn-primary">Aller vers les photos</a>
{% endblock %}
