{% extends 'base1.html.twig' %}
{% block title %}Création de compte !{% endblock %}

{% block body %}
    {% block navigation %}
    {% endblock %}

    <h1 class="h3 mb-3 font-weight-normal">Création d'un compte (réservé aux membres de l'équipe enseignante)</h1>
    <h3 class="mb-3">Chaque item de ce formulaire est obligatoire</h3>
    <div class="container">
        {{ form_start(form) }}
        {% for field in form.children %}
            <div class="row">
                <div class="col">
                    <h6>{{ field.vars['label'] }}</h6>
                    {{ form_widget(field) }}
                </div>
            </div>
            <br>

        {% endfor %}
        {{ form_end(form) }}
    </div>

{% endblock %}
